/*
Theme Name:     Sioufas
Theme URI:      
Description:    Divi child theme.
Author:         Me
Author URI:     
Template:       divi
Version:        0.2.0
*/

#contact-newsletter h3 {
    font-size: 24px;
    border-bottom: 2px solid #ffffff;
}

.sml_subscribe {
    text-align: center;
}

.sml_subscribe label {
    display: block;
    color: #ffffff;
}

.sml_subscribe p.sml_name,
.sml_subscribe p.sml_email {
    display: inline-block;
    margin: 0 12px;
}

.sml_subscribe input {
    background: transparent;
    border: 3px solid #fff;
    padding: 8px 16px;
    color: #fff;
}

.sml_subscribe input.text:focus,
.sml_subscribe input.title:focus,
.sml_subscribe input[type=text]:focus {
    color: #efefef;
}

/* Hide Navigation On First and Last Sectors */
.page-id-220 .nav-single .nav-previous,
.page-id-688 .nav-single .nav-next {
    display: none;
}

/* Navigation Law Sectors */
#menu-sectors li + li {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #cecece;
}

#menu-sectors li a {
    font-size: 16px;
    color: #575757;
}

#menu-sectors li a:hover {
    text-decoration: underline;
}

#menu-sectors li.current-menu-item a {
    color: #bd171e;
    font-weight: 700;
}

#menu-sectors li.current-menu-item a:hover {
    text-decoration: none;
}

.law-sector-sidebar h2.widgettitle {
    font-size: 20px;
    margin-bottom: 12px;
}

/* Career Button Fix */
.page-id-700 a.bigred {
    color: #efefef !important;
    background: #bd171e !important;
}

.et_pb_map,
#greek-map {
    height: 220px;
}

#front-blocks-trinity p {
    text-align: justify !important;
    font-size: 14px;
}

#front-blocks-trinity p a {
    text-align: center !important;
    font-size: 14px;
}

/* Blog Title Fix */
/*
.page-id-162 h2.entry-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
  max-height: 4.5em;
}
*/

.post-template-default.single.single-post #sidebar {
    background-color: #fff;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 24px;
}

.post-template-default.single.single-post #main-content {
    background-size: contain;
    background-position: top center;
    background-image: url('https://www.sioufaslaw.gr/wp-content/uploads/2018/03/law-2.jpg') !important;
    background-repeat: no-repeat;
}

.front-blog-content article.et_pb_post .post-content p,
.page-id-162 article.et_pb_post .post-content p {
    display: none;
}

.widget_recent_entries ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.widget_recent_entries ul li + li {
    margin-top: 8px;
    border-top: 1px solid #bd171e;
    padding-top: 8px;
}

.parent-pageid-21 .et_pb_bg_layout_light .et_pb_widget li.current-menu-item a {
    color: red;
}

.page-id-162 article.type-post {
    padding: 24px;
}

.page-id-162 article .et_pb_posts a.more-link {
    padding: 8px 16px;
    border: 1px solid #bd171e;
    margin-top: 24px;
    display: inline-block;
    transition: all 0.5s ease;
}

.page-id-162 article .et_pb_posts a.more-link:hover {
    color: #ffffff;
    background-color: #bd171e;
}

.mobile_menu_bar:before {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    content: "\61";
    left: auto;
    cursor: pointer;
}

.et_pb_contact p input.submit_button {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    color: #bd171e;
    cursor: pointer;
}

.et_pb_contact p.contact_bottom_container {
    position: relative;
}

#headline-contact {
    margin: 0;
}

.contact_message {
    max-height: 170px;
    resize: none;
}

.check-custom {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-color: #eee;
    font-style: normal;
    vertical-align: middle;
    content: "";
}

i.check-1:before {
    width: 17px;
    height: 17px;
    color: #bd171e;
    font-family: dashicons;
    font-size: 17px;
    line-height: 17px;
    content: "\f147";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-check {
    font-family: "Whitney SSm A", "Whitney SSm B";
    font-style: normal;
    margin-bottom: 1.5em;
    padding: 0 0 0 3%;
}

.label-title {
    padding-bottom: 8px;
    text-decoration: underline;
    font-size: 17px;
}

.label-check span.wpcf7-list-item {
    margin: 0;
}

.label-check .wpcf7-list-item-label {
    font-size: 14px;
    line-height: 24px;
}

span.wpcf7-not-valid-tip {
    font-size: 0.85em;
}

div.wpcf7-response-output {
    margin: 0.7em 0.5em 2.1em;
}


.popup-terms, .politiki-popup--news {
    display: none;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 20000000;
}

.label-check {
    display: none;
}

.label-check--block {
    display: block;
}

.popup-terms__inner {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup-terms__inner > div {
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 102.1%;
    background: #fff;
    padding: 3.5% 5% 2% 5%;
}

.terms-btn {
    text-align: right;
}

.terms-btn > div {
    background-color: #28a745;
    padding: 8px 24px;
    border: 2px solid #28a745;
    border-radius: 2px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 19px;
    display: inline-block;
    margin-top: 24px;
    color: #fff;
    margin-right: 20px;
}

.popup-terms__inner > h2 {
    background: #fff;
    padding: 1.6% 2% 1%;
}

.privacy-popup-title {
    margin: 5% 0 -20px 0;
}


/*
START EDITING FOR CAREERS
 */


.wpcf7-form p {
    padding: 2px 2px 0.7em 2px;
    display: inline-block;
}

.wpcf7-form {
    padding-top: 5%;
}

.wpcf7-form p input[type=number], .wpcf7-form p input[type=text], .wpcf7-form p input[type=date],
.wpcf7-form p input[type=email], .wpcf7-form p select {
    width: 345px;
    padding: 2px;
    border-width: 1px;
}

.border-1 {
    /*border-top: 1px solid #000;*/
    border-bottom: 1px solid #000;
}

.clone_lang.new, .clone_edu.new, .clone_rec.new, .clone_exp.new {
    border-top: 1px solid #000;
}

textarea[name=Comments] {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.job-card {
    border: 1px solid #000;
    margin: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}

#details .glwsses > p, #details .ekpaideusi > p, #details .proigoumeni_ergasia > p {
    padding-bottom: 5px;
}

#details legend, .proigoumeni_ergasia legend {
    margin-top: 20px;
    font-weight: bold;
}

.checkbox_div {
    margin: 10px 0;
}

.checkbox_div label {
    display: block;
    margin: 0 10px 0 10px;
}

#details > div {
    margin-top: 10px;
}

#wpcf7-f2221-o1 button {
    color: #fff;
    padding: 2px 10px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;
}

#submit_cv_form button {
    color: #fff;
    padding: 2px 10px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;
}

ul.invalid > li, ul.valid > li {
    list-style-position: inside;
}

ul.invalid {
    margin: 10px 0;
    padding: 2%;
    list-style: inherit;
    background-color: rgba(250, 0, 0, 0.3);
    border: 3px solid #ff0000;
    border-radius: 5px;
}

div.succeed {
    height: 800px;
}

ul.valid {
    margin: 10px 0;
    padding: 2%;
    list-style: inherit;
    background-color: rgba(34, 128, 29, 0.3);
    border: 3px solid #00ff0d;
    border-radius: 5px;
}

#submit_cv_form label {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

#submit_cv_form button.button_plus {
    background-color: green;
}

#submit_cv_form button.button_minus {
    background-color: red;
}

.job-card > h3 {
    font-size: 1.1em;
}

#submit_cv_form * {
    font-family: Open Sans, sans-serif;
}

#submit_cv_form .wpcf7-submit {
    border-radius: 5px;
    background-color: #bd171e;
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid transparent;
    color: #fff;
    margin: 20px 0;
}

#submit_cv_form .wpcf7-submit:hover {
    background-color: #bd0006;
    border: 2px solid green;
}

#submit_cv_form .wpcf7-submit:focus {
    border: 2px solid green;
}

#submit_cv_form .personal_div, #submit_cv_form .contact_div, #submit_cv_form .edu_div, #submit_cv_form .proigoumeni_ergasia, #submit_cv_form .jobs_checkboxes {
    background-color: #f2f2f2;
    margin-bottom: 31px;
    padding: 20px 10px;
    border-bottom: 1px dotted #000;
}

#submit_cv_form h2 {
    font-size: 17px;
    text-transform: uppercase;
}

#submit_cv_form input, #submit_cv_form select, #submit_cv_form option {
    font-size: 14px !important;
}

span.error {
    visibility: hidden;
    display: block;
    font-size: 12px;
    color: #ff0000;
    max-width: 340px;
}

.visible {
    visibility: visible !important;
}

.wpcf7-form input, .wpcf7-form select {
    display: block;
}

.wpcf7-form input[name="consent"] {
    display: inline-block;
}

input.error_border, select.error_border, label.error_border, div.error_border {
    border: 1px solid #ff0000;
}

.position_description {
    width: 250px;
    text-align: center;
}

div.jobs_checkboxes div {
    width: 300px;
    display: inline-block;
    height: 70px;
    vertical-align: top;
}

div.jobs_checkboxes input[type=checkbox] {
    margin: 2px auto;
}

@media screen and (max-width: 1024px) {
    ul.invalid > li {
        font-size: 1em;
    }

    .wpcf7-form p input[type=number], .wpcf7-form p input[type=text], .wpcf7-form p input[type=date],
    .wpcf7-form p input[type=email], .wpcf7-form p select {
        width: 250px;
    }

    .top-right-wa {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    ul.invalid > li {
        font-size: 0.9em;
    }

    .top-line-right {
        padding: .75em 0;
    }

    .et_header_style_centered .mobile_menu_bar {
        position: absolute;
        top: 2px;
        right: 5px;
        width: 100%;
        height: 32px;
    }

    .et_header_style_centered #main-header .mobile_nav {
        display: block;
        padding: 5px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .05);
        text-align: left;
        position: relative;
    }
}

@media screen and (max-width: 640px) {
    ul.invalid > li {
        font-size: 0.8em;
    }

    .wpcf7-form p input[type=number], .wpcf7-form p input[type=text], .wpcf7-form p input[type=date],
    .wpcf7-form p input[type=email], .wpcf7-form p select {
        width: 345px;
    }
}

.d-none {
    display: none;
}